# Ajout des ID numériques au table DIMENSION dans seeds

In [47]:
import pandas as pd
import numpy as np
import shutil

In [6]:
seeds_dir = '../snowflake/DBT/Projet_DBT/seeds'
src_data = '../pipeline/src/data'

In [4]:
shutil.copytree(seeds_dir,'src_data',dirs_exist_ok=True)

'../pipeline/src/data/'

### DIM_DOMAINES

In [7]:
df_domaines = pd.read_csv(src_data+"/DIM_DOMAINE.csv")
df_domaines = df_domaines.reset_index(names='ID')
df_domaines = df_domaines.set_index('ID')

In [8]:
df_domaines

    ID_DOMAINE                                                NOM
ID
0          A11                     Engins agricoles et forestiers
1          A12                  Espaces naturels et espaces verts
2          A13                     Etudes et assistance technique
3          A14                                         Production
4          A15                                  Soins aux animaux
..         ...                                                ...
105        N32  Personnel sédentaire du transport maritime et ...
106        N41         Personnel de conduite du transport routier
107        N42       Personnel d'encadrement du transport routier
108        N43          Personnel navigant du transport terrestre
109        N44  Personnel sédentaire du transport ferroviaire ...

[110 rows x 2 columns]

In [14]:
df_domaines.to_csv(src_data+'/DIM_DOMAINES.csv',encoding='utf-8')

### DIM_APPELLATIONS

In [10]:
df_appellations = pd.read_csv(src_data+"/DIM_APPELLATIONS.csv")
df_appellations = df_appellations.reset_index(names='id_appellation')
df_appellations = df_appellations.set_index('id_appellation')

In [11]:
df_appellations

       ID_APPELLATION                                                NOM
ID
0               10438           Agent / Agente de destruction d'insectes
1               10439   Agent / Agente de développement d'habitat social
2               10441              Agent / Agente de développement local
3               10442              Agent / Agente de développement rural
4               10444  Agent / Agente de diagnostic et d'intervention...
...               ...                                                ...
12102           17255  Opérateur / Opératrice presse pâte en industri...
12103           17259  Opérateur programmeur / Opératrice programmeus...
12104           17262  Opérateur qualifié / Opératrice qualifiée de m...
12105           17266  Opérateur régleur / Opératrice régleuse sur ch...
12106           17270    Opérateur régleur / Opératrice régleuse usinage

[12107 rows x 2 columns]

In [16]:
df_appellations.to_csv(src_data+'/DIM_APPELLATIONS.csv',encoding='utf-8')

### RAW_METIERS

In [18]:
df_metiers = pd.read_csv(src_data+"/RAW_METIERS.csv")
df_metiers = df_metiers.reset_index(names='id_metier')
df_metiers = df_metiers.set_index('id_metier')

In [19]:
df_metiers

,code_rome,libelle,code_appellation,code_domaine,libelle_search
ID_METIER,,,,,
0,A1101,Conducteur / Conductrice d'engins agricoles,404030,A11,Conducteur d'engins agricoles
1,A1101,Chauffeur / Chauffeuse de machines agricoles,11987,A11,Chauffeur de machines agricoles
2,A1101,Conducteur / Conductrice d'automoteur de récolte,38874,A11,Conducteur d'automoteur de récolte
3,A1101,Conducteur / Conductrice d'engins d'exploitati...,13254,A11,Conducteur d'engins d'exploitation agricole
4,A1101,Conducteur / Conductrice d'épareuse,38877,A11,Conducteur d'épareuse
...,...,...,...,...,...
12091,N4403,Opérateur / Opératrice de branchement du résea...,17064,N44,Opérateur de branchement du réseau ferré
12092,N4403,Opérateur / Opératrice de manœuvre du réseau f...,17119,N44,Opérateur de manœuvre du réseau ferré
12093,N4403,Opérateur / Opératrice de production du réseau...,17150,N44,Opérateur de production du réseau ferré
12094,N4403,Opérateur / Opératrice fret du réseau ferré,17231,N44,Opérateur fret du réseau ferré
12095,N4403,Opérateur / Opératrice triage du réseau ferré,17346,N44,Opérateur triage du réseau ferré

In [20]:
df_metiers.to_csv(src_data+'/RAW_METIERS.csv',encoding='utf-8')

### RAW_Softskills

In [21]:
df_softskill = pd.read_csv(src_data+"/RAW_SOFTSKILL.csv")
df_softskill = df_softskill.reset_index(names='id_softskill')
df_softskill = df_softskill.set_index('id_softskill')

In [22]:
df_softskill

,code_rome,uuid,created_at,skill_id,score,summary,details
ID_SOFTSKILLS,,,,,,,
0,A1101,ee359294-d429-4280-b1dc-7f426eab9d40,2025-04-30T11:41:12Z,soft_skill_19,1.000000,Réactivité,Répondre rapidement et de manière appropriée a...
1,A1101,ee359294-d429-4280-b1dc-7f426eab9d40,2025-04-30T11:41:12Z,soft_skill_11,1.000000,Être rigoureux,"Prêter attention aux détails, avoir le souci d..."
2,A1101,ee359294-d429-4280-b1dc-7f426eab9d40,2025-04-30T11:41:12Z,soft_skill_20,0.941106,Sens de l’analyse,"Examiner, décomposer et comparer les éléments ..."
3,A1101,ee359294-d429-4280-b1dc-7f426eab9d40,2025-04-30T11:41:12Z,soft_skill_09,0.573230,Sens de l’organisation,Avoir une propension à agencer et structurer s...
4,A1101,ee359294-d429-4280-b1dc-7f426eab9d40,2025-04-30T11:41:12Z,soft_skill_07,0.556641,Sens des responsabilités,"S’engager, avec discernement, dans une action ..."
...,...,...,...,...,...,...,...
13680,M1807,a8fe34f6-ff2c-4c9b-a42f-0a8d64712e3c,2025-04-30T12:01:02Z,soft_skill_02,0.145361,Sens de l’innovation/créativité,"Raisonner différemment, rechercher, imaginer, ..."
13681,M1807,a8fe34f6-ff2c-4c9b-a42f-0a8d64712e3c,2025-04-30T12:01:02Z,soft_skill_20,0.142835,Sens de l’analyse,"Examiner, décomposer et comparer les éléments ..."
13682,M1807,a8fe34f6-ff2c-4c9b-a42f-0a8d64712e3c,2025-04-30T12:01:02Z,soft_skill_03,0.139623,Capacité d’adaptation,"Faire face à la nouveauté et au changement, aj..."
13683,M1807,a8fe34f6-ff2c-4c9b-a42f-0a8d64712e3c,2025-04-30T12:01:02Z,soft_skill_18,0.100000,Faire preuve de diplomatie,"Être pondéré, nuancé, faire preuve de tact et ..."
13684,M1807,a8fe34f6-ff2c-4c9b-a42f-0a8d64712e3c,2025-04-30T12:01:02Z,soft_skill_16,0.073973,Sens des affaires et de la valeur de l’argent,Renvoie à la capacité d’empathie et d’analyse ...

In [23]:
df_softskill.to_csv(src_data+'/RAW_Softskills.csv',encoding='utf-8')

### STOPWORDS_FR

In [24]:
df_stopwords_fr = pd.read_csv(src_data+"/STOPWORDS_FR.csv")
df_stopwords_fr = df_stopwords_fr.reset_index(names='ID_STOPWORDS_FR')
df_stopwords_fr = df_stopwords_fr.set_index('ID_STOPWORDS_FR')

In [25]:
df_stopwords_fr

                       word
ID_STOPWORDS_FR
0                         a
1                     abord
2                absolument
3                      afin
4                        ah
...                     ...
686                   étées
687                    étés
688                    êtes
689                    être
690                       ô

[691 rows x 1 columns]

In [26]:
df_stopwords_fr.to_csv(src_data+'/STOPWORDS_FR.csv',encoding='utf-8')