In [2]:
import pandas as pd

azuna_df = pd.read_csv("./../data/adzuna_collector.csv")
azuna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      4998 non-null   int64
 1   source                  4998 non-null   object
 2   title                   4998 non-null   object
 3   description             4998 non-null   object
 4   company_name            4992 non-null   object
 5   location_name           4998 non-null   object
 6   latitude                4728 non-null   float64
 7   longitude               4728 non-null   float64
 8   date_created            4998 non-null   object
 9   date_updated            4998 non-null   object
 10  contract_type           1645 non-null   object
 11  contract_duration       0 non-null      float64
 12  working_hours           2564 non-null   object
 13  salary_min              2196 non-null   float64
 14  salary_max              2189 non-null   float64
 15  salary_currency         4998 non-null   object
 16  salary_period           4998 non-null   object
 17  experience_required     0 non-null      float64
 18  category                4998 non-null   object
 19  sector                  0 non-null      float64
 20  application_url         4998 non-null   object
 21  source_url              4998 non-null   object
 22  skills                  0 non-null      float64
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  0 non-null      float64
 25  code_rome               0 non-null      float64
 26  langues                 0 non-null      float64
 27  date_extraction         4998 non-null   object
dtypes: float64(12), int64(1), object(15)
memory usage: 1.1+ MB

In [3]:
france_travail = pd.read_csv("./../data/france_travail_collector.csv")
france_travail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1343 entries, 0 to 1342
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1343 non-null   object
 1   source                  1343 non-null   object
 2   title                   1343 non-null   object
 3   description             1343 non-null   object
 4   company_name            814 non-null    object
 5   location_name           1343 non-null   object
 6   latitude                1218 non-null   float64
 7   longitude               1218 non-null   float64
 8   date_created            1343 non-null   object
 9   date_updated            1343 non-null   object
 10  contract_type           1343 non-null   object
 11  contract_duration       1196 non-null   object
 12  working_hours           179 non-null    object
 13  salary_min              300 non-null    float64
 14  salary_max              300 non-null    float64
 15  salary_currency         1343 non-null   object
 16  salary_period           307 non-null    object
 17  experience_required     1343 non-null   object
 18  category                1343 non-null   object
 19  sector                  361 non-null    object
 20  application_url         68 non-null     object
 21  source_url              1343 non-null   object
 22  skills                  108 non-null    object
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  1343 non-null   bool
 25  code_rome               1343 non-null   object
 26  langues                 36 non-null     object
 27  date_extraction         1343 non-null   object
dtypes: bool(1), float64(5), object(22)
memory usage: 284.7+ KB

In [ ]:
final = pd.concat([azuna_df, france_travail])
final.info()


final.to_csv('../data/rome40-label.csv', encoding='utf-8', header=False, index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 6341 entries, 0 to 1342
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      6341 non-null   object
 1   source                  6341 non-null   object
 2   title                   6341 non-null   object
 3   description             6341 non-null   object
 4   company_name            5806 non-null   object
 5   location_name           6341 non-null   object
 6   latitude                5946 non-null   float64
 7   longitude               5946 non-null   float64
 8   date_created            6341 non-null   object
 9   date_updated            6341 non-null   object
 10  contract_type           2988 non-null   object
 11  contract_duration       1196 non-null   object
 12  working_hours           2743 non-null   object
 13  salary_min              2496 non-null   float64
 14  salary_max              2489 non-null   float64
 15  salary_currency         6341 non-null   object
 16  salary_period           5305 non-null   object
 17  experience_required     1343 non-null   object
 18  category                6341 non-null   object
 19  sector                  361 non-null    object
 20  application_url         5066 non-null   object
 21  source_url              6341 non-null   object
 22  skills                  108 non-null    object
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  1343 non-null   object
 25  code_rome               1343 non-null   object
 26  langues                 36 non-null     object
 27  date_extraction         6341 non-null   object
dtypes: float64(5), object(23)
memory usage: 1.4+ MB