In [2]:
import pandas as pd

correspondance_df = pd.read_csv("./../data/correspondance-adzuna-rome.csv")
correspondance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   categorie_adzuna    157 non-null    object
 1   description_adzuna  157 non-null    object
 2   code_rome           157 non-null    object
 3   description_rome    157 non-null    object
dtypes: object(4)
memory usage: 5.0+ KB

In [3]:
print("Aperçu du DataFrame:")
print(correspondance_df.head())

Aperçu du DataFrame:
  categorie_adzuna                       description_adzuna code_rome  \
0          it-jobs  Emplois en informatique et technologies     M1801
1          it-jobs  Emplois en informatique et technologies     M1802
2          it-jobs  Emplois en informatique et technologies     M1803
3          it-jobs  Emplois en informatique et technologies     M1805
4          it-jobs  Emplois en informatique et technologies     M1806

                                    description_rome
0           Administration de systèmes d'information
1     Expertise et support en systèmes d'information
2               Direction des systèmes d'information
3               Études et développement informatique
4  Conseil et maîtrise d'ouvrage en systèmes d'in...

In [4]:
print("\nNombre de correspondances par catégorie Adzuna:")
print(correspondance_df['categorie_adzuna'].value_counts())

Nombre de correspondances par catégorie Adzuna:
categorie_adzuna
hospitality-catering-jobs        16
teaching-jobs                    10
healthcare-nursing-jobs           9
social-work-counselling-jobs      9
logistics-warehouse-jobs          8
pr-advertising-marketing-jobs     8
creative-design-jobs              8
scientific-qa-jobs                7
accounting-finance-jobs           7
manufacturing-jobs                7
retail-jobs                       7
it-jobs                           6
admin-jobs                        6
sales-jobs                        6
legal-jobs                        5
maintenance-jobs                  5
travel-jobs                       5
engineering-jobs                  4
customer-services-jobs            4
property-jobs                     4
security-jobs                     4
graduate-jobs                     3
hr-jobs                           3
charity-voluntary-jobs            2
domestic-help-cleaning-jobs       2
facilities-jobs                   2
Name: count, dtype: int64

In [5]:
# Exemple 1: Filtrer pour trouver tous les codes ROME correspondant à une catégorie Adzuna
categorie_recherchee = "it-jobs"
codes_rome_filtres = correspondance_df[correspondance_df['categorie_adzuna'] == categorie_recherchee]
print(f"\nCodes ROME pour la catégorie '{categorie_recherchee}':")
print(codes_rome_filtres[['code_rome', 'description_rome']])

Codes ROME pour la catégorie 'it-jobs':
  code_rome                                   description_rome
0     M1801           Administration de systèmes d'information
1     M1802     Expertise et support en systèmes d'information
2     M1803               Direction des systèmes d'information
3     M1805               Études et développement informatique
4     M1806  Conseil et maîtrise d'ouvrage en systèmes d'in...
5     M1810  Production et exploitation de systèmes d'infor...

In [6]:
# Exemple 2: Rechercher une catégorie Adzuna à partir d'un code ROME
code_rome_recherche = "M1805"  # Études et développement informatique
categories_adzuna = correspondance_df[correspondance_df['code_rome'] == code_rome_recherche]
print(f"\nCatégories Adzuna pour le code ROME '{code_rome_recherche}':")
print(categories_adzuna[['categorie_adzuna', 'description_adzuna']])

Catégories Adzuna pour le code ROME 'M1805':
  categorie_adzuna                       description_adzuna
3          it-jobs  Emplois en informatique et technologies

In [7]:
# Exemple 3: Fonction pour rechercher des correspondances par mot-clé
def rechercher_par_mot_cle(df, mot_cle):
    """Recherche des correspondances par mot-clé dans les descriptions"""
    mask = (
        df['description_adzuna'].str.contains(mot_cle, case=False) | 
        df['description_rome'].str.contains(mot_cle, case=False)
    )
    return df[mask]

# Recherche par mot-clé
mot_cle = "développement"
resultats = rechercher_par_mot_cle(correspondance_df, mot_cle)
print(f"\nRésultats pour le mot-clé '{mot_cle}':")
print(resultats[['categorie_adzuna', 'code_rome', 'description_rome']])

Résultats pour le mot-clé 'développement':
                 categorie_adzuna code_rome  \
3                         it-jobs     M1805
7                engineering-jobs     H1206
27                        hr-jobs     M1502
31  pr-advertising-marketing-jobs     E1401
59           creative-design-jobs     E1401
90             scientific-qa-jobs     H1206

                                     description_rome
3                Études et développement informatique
7   Management et ingénierie études recherche et d...
27              Développement des ressources humaines
31            Développement et promotion publicitaire
59            Développement et promotion publicitaire
90  Management et ingénierie études recherche et d...