In [2]:
import pandas as pd

azuna_df = pd.read_csv("./../data/azuna_jobs_2025.csv")
azuna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      250 non-null    int64
 1   source                  250 non-null    object
 2   title                   250 non-null    object
 3   description             250 non-null    object
 4   company_name            250 non-null    object
 5   location_name           250 non-null    object
 6   latitude                230 non-null    float64
 7   longitude               230 non-null    float64
 8   date_created            250 non-null    object
 9   date_updated            250 non-null    object
 10  contract_type           93 non-null     object
 11  contract_duration       0 non-null      float64
 12  working_hours           6 non-null      object
 13  salary_min              79 non-null     float64
 14  salary_max              79 non-null     float64
 15  salary_currency         250 non-null    object
 16  salary_period           250 non-null    object
 17  experience_required     0 non-null      float64
 18  category                250 non-null    object
 19  sector                  0 non-null      float64
 20  application_url         250 non-null    object
 21  source_url              250 non-null    object
 22  skills                  0 non-null      float64
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  0 non-null      float64
 25  code_rome               0 non-null      float64
 26  langues                 0 non-null      float64
 27  date_extraction         250 non-null    object
dtypes: float64(12), int64(1), object(15)
memory usage: 54.8+ KB

In [3]:
azuna_df.describe()

,id,latitude,longitude,contract_duration,salary_min,salary_max,experience_required,sector,skills,remote_work,is_handicap_accessible,code_rome,langues
count,2.500000e+02,230.000000,230.000000,0.0,79.000000,79.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,5.155128e+09,47.159054,2.738471,NaN,34025.316456,41025.316456,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9.680871e+04,2.180276,2.314089,NaN,9688.712285,11070.837973,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,5.155047e+09,42.702140,-4.172963,NaN,22000.000000,24000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,5.155050e+09,45.441505,2.257570,NaN,27000.000000,33000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,5.155055e+09,48.526510,2.344631,NaN,33000.000000,40000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,5.155256e+09,48.863839,4.360860,NaN,37500.000000,50000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,5.155257e+09,50.638900,9.450750,NaN,70000.000000,70000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
france_travail = pd.read_csv("./../data/france_travail_jobs_1_months.csv")
france_travail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420 entries, 0 to 1419
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1420 non-null   object
 1   source                  1420 non-null   object
 2   title                   1420 non-null   object
 3   description             1420 non-null   object
 4   company_name            814 non-null    object
 5   location_name           1420 non-null   object
 6   latitude                1322 non-null   float64
 7   longitude               1322 non-null   float64
 8   date_created            1420 non-null   object
 9   date_updated            1420 non-null   object
 10  contract_type           1420 non-null   object
 11  contract_duration       1260 non-null   object
 12  working_hours           191 non-null    object
 13  salary_min              347 non-null    float64
 14  salary_max              347 non-null    float64
 15  salary_currency         1420 non-null   object
 16  salary_period           354 non-null    object
 17  experience_required     1420 non-null   object
 18  category                1420 non-null   object
 19  sector                  374 non-null    object
 20  application_url         70 non-null     object
 21  source_url              1420 non-null   object
 22  skills                  115 non-null    object
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  1420 non-null   bool
 25  code_rome               1420 non-null   object
 26  langues                 52 non-null     object
 27  date_extraction         1420 non-null   object
dtypes: bool(1), float64(5), object(22)
memory usage: 301.0+ KB

In [3]:
france_travail.describe()

          latitude    longitude     salary_min     salary_max  remote_work
count  1322.000000  1322.000000     347.000000     347.000000          0.0
mean     45.750262     1.803748   39499.005504   48185.008271          NaN
std       8.249165     9.989919   14305.666057   16475.182699          NaN
min     -21.243523   -61.594891       3.920000      11.880000          NaN
25%      45.430195     1.367538   40000.000000   45000.000000          NaN
50%      48.025159     2.337887   40000.000000   50000.000000          NaN
75%      48.869504     4.797937   45000.000000   55000.000000          NaN
max      51.028256    55.542606  100000.000000  100000.000000          NaN

In [4]:
france_travail.head()

,id,source,title,description,company_name,location_name,latitude,longitude,date_created,date_updated,...,category,sector,application_url,source_url,skills,remote_work,is_handicap_accessible,code_rome,langues,date_extraction
0,3812955,france_travail,Directeur d'agence (RGPD) (H/F),Rejoignez Notre Réseau de Franchise Agence RGP...,AGENCE RGPD,01 - BELLEY,45.754371,5.688373,2025-03-19 04:51:32+00:00,2025-03-19 04:51:32+00:00,...,Délégué / Déléguée à la protection des données...,NaN,NaN,https://candidat.francetravail.fr/offres/reche...,NaN,NaN,False,K1906,NaN,2025-04-21 20:31:07.246958
1,3812871,france_travail,Directeur d'agence (RGPD) (H/F),Rejoignez Notre Réseau de Franchise Agence RGP...,AGENCE RGPD,01 - GEX,46.337184,6.066541,2025-03-19 04:51:08+00:00,2025-03-19 04:51:08+00:00,...,Délégué / Déléguée à la protection des données...,NaN,NaN,https://candidat.francetravail.fr/offres/reche...,NaN,NaN,False,K1906,NaN,2025-04-21 20:31:07.248336
2,3812538,france_travail,Directeur d'agence (RGPD) (H/F),Rejoignez Notre Réseau de Franchise Agence RGP...,AGENCE RGPD,01 - BOURG EN BRESSE,46.204893,5.241148,2025-03-19 04:49:41+00:00,2025-03-19 04:49:41+00:00,...,Délégué / Déléguée à la protection des données...,NaN,NaN,https://candidat.francetravail.fr/offres/reche...,NaN,NaN,False,K1906,NaN,2025-04-21 20:31:07.248707
3,4325759,france_travail,Data scientist (H/F),Description du poste : En tant qu'AutoAPI Test...,NaN,01 - ST NIZIER LE DESERT,46.054720,5.147785,2025-03-29 13:12:32+00:00,2025-03-29 13:12:32+00:00,...,Data scientist,NaN,NaN,https://candidat.francetravail.fr/offres/reche...,NaN,NaN,False,M1405,NaN,2025-04-21 20:31:08.411885
4,3813393,france_travail,Directeur d'agence (RGPD) (H/F),Rejoignez Notre Réseau de Franchise Agence RGP...,AGENCE RGPD,02 - LAON,49.570287,3.614719,2025-03-19 04:53:30+00:00,2025-03-19 04:53:30+00:00,...,Délégué / Déléguée à la protection des données...,NaN,NaN,https://candidat.francetravail.fr/offres/reche...,NaN,NaN,False,K1906,NaN,2025-04-21 20:31:12.959669

In [10]:
france_travail['langues'].unique()

array(['AGENCE RGPD', nan, 'CTRE DEP GESTION FONCTION PUB TERRITOR',
       'ADSearch', 'iPepper', 'Sophia Conseil', 'DAVIDSON PACA',
       'Simplon', 'SKYINCAP', 'BUREAU ALPES CONTROLES',
       'Forums Talents Handicap', 'JEHANN', 'AMILTONE',
       'RANDSTAD DIGITAL FRANCE', 'INOV TEAM LABS',
       'CANNES EXPERTISE INFORMATIQUE', 'Adsearch',
       'OPH TROYES AUBE HABITAT', 'OMNICIEL PROFILS ET SOLUTIONS',
       'DGTL Performance', 'SIMPLON.CO', 'DSI France Travail', 'VIVERIS',
       'Walter Learning - Marseille', 'ISCOD', 'Thales DIS France SAS',
       'ENOVACOM', 'GESER BEST', 'TIL TECHNOLOGIES', 'Vulcain Services',
       'RTE Alternance', 'Walter Learning', 'HOWMET AEROSPACE',
       "CLINIQUE DE L'ATLANTIQUE", 'HARRY HOPE', 'ROSARA',
       'ORIENTACTION EMPLOI', 'Safran Electronics & Defense', 'Randstad',
       'PRODEVAL', "DÉPARTEMENT DE L'EURE",
       'BNP Paribas Mission Handicap', 'CHR Numérique', 'NEXT DECISION',
       'LEA', 'ONERA', 'Crit', 'Link Consulting', 'CLS', 'AIKOSPACE',
       'Expectra', 'Akanea', 'Safran', 'THELIO', 'METROPOLE DE BORDEAUX',
       'Seyos', 'GROUPAGORA', 'CGI', 'Crédit Agricole Aquitaine',
       'Domino RH Staff Montpellier', 'Groupama', 'AVRIL SERVICES',
       'Groupe AVEM', 'LACROIX GROUP', 'NEXTGEN RH', 'STG',
       'CYCLAD FRANCE', 'PB SOLUTIONS', 'Orange Cyberdefense',
       'Thales Services Numériques Sas', 'Digitaleo',
       'SOGITEC INDUSTRIES', 'ORANGE BUSINESS', 'Unseenlabs', 'Manpower',
       'CAILabs', 'MV GROUP', 'Harmonie Mutuelle', 'YUMENS',
       'Groupe Samsic', 'Groupe CCPA', 'DOMITYS', 'MACIF', 'SAMSE',
       'HARDIS GROUPE', 'UNIVERSITE GRENOBLE ALPES',
       'YONI ENTREPRISE SERVICES - YES', 'KALI Group',
       'Automatique et Industrie', 'HELIOCITY', 'DAVRICOURT', 'Techteam',
       'OMERIN SAS', 'ASTREE SOFTWARE', 'SYSTEM D RH',
       'RCA REALISATIONS POUR LA COMPTABILITE ET', 'NEWCLIP TECHNICS',
       'ALTECA', 'Thales', 'Lumiplan',
       'CHRU ORLEANS - HOPITAL DE LA SOURCE',
       'GROUPE ATLANTIC SYNERGY - Société en Nom Collectif',
       'Réseau Primever France', 'PROPULSE IT', 'Baker Tilly STREGO SAS',
       'orano Projets', 'ECIA', 'Nextep HR',
       'DÉPARTEMENT DE LA HAUTE MARNE',
       'CENTRE DE GESTION DE LA FPT DE LA MEUSE', 'Hays France',
       'ALBEA COSMETICS FRANCE', 'FM Logistic Corporate', 'ISAGRI',
       'Up Skills IT Lille', 'NORAUTO', 'Fed IT', "Tape à l'Oeil",
       'SOCIETE GESER BEST', 'WYZ SUPPORT', 'AUTOMOTIVE CELLS COMPANY SE',
       'LES INTERIMAIRES PROFESSIONNELS TERTIAIR', 'Hall 32',
       'RIVES & EAUX DU SUD-OUEST', 'ITEA', 'LHH', 'SOCOMEC', 'Soprema',
       'EIFFAGE ENERGIE SYSTEMES', 'ORANGE', 'Amiltone', 'PROSOL',
       'Genius Talent', 'LYSARC - THE LYMPHOMA ACADEMIC RESEARCH',
       'EST METROPOLE HABITAT', 'Coexya', 'Econocom', 'AK RECRUTEMENT',
       'TALENT BRUT RECRUTEMENT', 'HiveDevs', 'APRIL', 'Ollys France',
       'T & S ENGINEERING', 'CRESCENDO', 'DYMASCO',
       'Groupama Supports et Services', 'ACTUAL BRIGNAIS 3293', 'Parlym',
       'ATOS FRANCE', 'KAPA IT', 'Sopra Steria', 'B-HIVE', 'SNCF',
       'MANITTY', 'Covéa', "COMMUNAUTE DE COMMUNES PAYS D'EVIAN VALL",
       "SYNDICAT MIXTE DU LAC D'ANNECY SILA **", 'Talents IT',
       'Michael Page', 'CNRS MOY1601 PRESIDENCE', 'CONNECTT 1',
       'E-QUADRA', 'R(E)GREEN', '2T Conseil', 'RBM-DATA-CONSULTING',
       'ORIENTATION DURABLE', 'LA CADETTE', 'WWW.FRANCKPARTY.COM',
       'FRANCK', 'EURAILSCOUT FRANCE', 'LUTESSA',
       'Walter Learning - Paris', 'Iliad', 'MASCIIN IT', 'TECH RIDERS',
       'EVISTEL', 'Malakoff Humanis', 'R DY', 'Groupe IGENSIA Education',
       'Crédit Agricole Assurances', 'Banque de France', 'AXA', 'EY',
       'Natixis', 'Solve', 'MICHAEL PAGE INTERNATIONAL FRANCE', 'CNAV',
       'BDO', 'LTd', 'La Banque Postale',
       'CNP ASSURANCES PROTECTION SOCIALE',
       '928540-ISSY DIRECTION DES SERVICES RH DCN', 'consortgroup',
       '55 SAS', 'GROUPE APICIL', 'MEG DIGITAL', 'Generali',
       'AG2R LA MONDIALE', 'BIOSERENITY MDG LIFE', 'BNP Paribas',
       'ENGAGETECH SOCIAL', 'WEALTHY TECHNOLOGY',
       'AFD - Agence Française de développement', "L'ECOLE NUMERIQUE",
       'Page Personnel', 'CHI ELBEUF-LOUVIERS-VAL DE REUIL',
       'Talents Commerciaux', 'Thales Las France Sas',
       'THALES SERVICES NUMERIQUES SAS', 'Thales Dms France Sas',
       'FAB Group', 'Blute@ms Technology', 'Blue Soft Consulting',
       'STEP UP', 'Crédit Agricole Nord MP', 'Q ENERGY FRANCE',
       'Orisha Health & Safety', 'GROUPE H2S', 'DACHSER France',
       'CHU LIMOGES', 'PRYSMIAN CABLES ET SYSTEMES FRANCE',
       'Gi Group France', 'ECM (Direction Nord)', 'Avanista', 'FULLSCALE',
       'COLLEGE DE PARIS', 'TAGA MEDICAL', 'Trimane', 'RYDGE CONSEIL',
       'COMPAGNIE DE SAINT-GOBAIN', 'APGAR', 'BEHIVE', 'SVP',
       'Groupe VINCI', 'NESTLE EXCELLENCE SUPPORTS FRANCE OU NES',
       'ERAKLES', 'MAYOLY', 'GIS MIC (GLOBAL INTERNATIONAL SERVICES M',
       'Bureau Veritas', 'DATAMED RESEARCH', 'KAN CONSULTING SERVICES',
       'DEODIS', 'DASSAULT AVIATION', 'TYREX', 'MBDA FRANCE', 'SG',
       'Burger King France', 'Allianz', 'IKOS CONSULTING',
       'LABORATOIRES DE BIOLOGIE VEGETALE YVES R', 'KPMG', 'EDF',
       "STIR'FAR", 'SNCF GARE DE ST DENIS STADE DE FRANCE', 'CIMEM',
       'INSTITUT GUSTAVE ROUSSY', 'Gustave Roussy', 'Tekkit.io',
       'GESTIMAT', 'VYGON SAS', 'Manutan', 'SAS SERENE UP',
       'Nalios Antilles-Guyane', 'CACEM'], dtype=object)

In [11]:
all_jobs = pd.read_csv("./../data/all_jobs_20250421.csv")
all_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      13 non-null     object
 1   source                  13 non-null     object
 2   title                   13 non-null     object
 3   description             13 non-null     object
 4   company_name            11 non-null     object
 5   location_name           13 non-null     object
 6   latitude                13 non-null     float64
 7   longitude               13 non-null     float64
 8   date_created            2 non-null      object
 9   date_updated            2 non-null      object
 10  contract_type           12 non-null     object
 11  contract_duration       9 non-null      object
 12  working_hours           4 non-null      object
 13  salary_min              6 non-null      float64
 14  salary_max              6 non-null      float64
 15  salary_currency         13 non-null     object
 16  salary_period           7 non-null      object
 17  experience_required     13 non-null     object
 18  category                13 non-null     object
 19  sector                  7 non-null      object
 20  application_url         3 non-null      object
 21  source_url              13 non-null     object
 22  skills                  4 non-null      object
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  11 non-null     object
 25  code_rome               11 non-null     object
 26  langues                 2 non-null      object
 27  date_extraction         13 non-null     object
dtypes: float64(5), object(23)
memory usage: 3.0+ KB

In [12]:
all_jobs.describe()

        latitude  longitude   salary_min    salary_max  remote_work
count  13.000000  13.000000      6.00000      6.000000          0.0
mean   45.275114   5.913796  18204.66500  23019.331667          NaN
std    12.907117  12.909013  18679.80103  24576.246552          NaN
min     2.317650   2.267032    487.00000    775.000000          NaN
25%    48.841620   2.341157   1535.24750   1985.247500          NaN
50%    48.856305   2.344631  16270.49500  18770.495000          NaN
75%    48.863839   2.356841  33750.00000  38750.000000          NaN
max    48.867669  48.877479  40000.00000  58000.000000          NaN

In [18]:

nunique = all_jobs['company_name'].nunique(dropna=True)
print(nunique)

11