In [1]:
import pandas as pd

azuna_df = pd.read_csv("./../data/adzuna_jobs_20250430.csv")
azuna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026 entries, 0 to 1025
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1026 non-null   int64
 1   source                  1026 non-null   object
 2   title                   1026 non-null   object
 3   description             1026 non-null   object
 4   company_name            1020 non-null   object
 5   location_name           1026 non-null   object
 6   latitude                878 non-null    float64
 7   longitude               878 non-null    float64
 8   date_created            1026 non-null   object
 9   date_updated            1026 non-null   object
 10  contract_type           487 non-null    object
 11  contract_duration       0 non-null      float64
 12  working_hours           303 non-null    object
 13  salary_min              280 non-null    float64
 14  salary_max              275 non-null    float64
 15  salary_currency         1026 non-null   object
 16  salary_period           1026 non-null   object
 17  experience_required     1026 non-null   object
 18  category                1026 non-null   object
 19  sector                  0 non-null      float64
 20  application_url         1026 non-null   object
 21  source_url              1026 non-null   object
 22  skills                  0 non-null      float64
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  0 non-null      float64
 25  code_rome               1026 non-null   object
 26  langues                 0 non-null      float64
 27  date_extraction         1026 non-null   object
dtypes: float64(10), int64(1), object(17)
memory usage: 224.6+ KB

In [ ]:
azuna_df.describe()

In [2]:
france_travail = pd.read_csv("./../data/france_travail_jobs_20250430.csv")
france_travail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 316 entries, 0 to 315
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      316 non-null    object
 1   source                  316 non-null    object
 2   title                   316 non-null    object
 3   description             316 non-null    object
 4   company_name            202 non-null    object
 5   location_name           316 non-null    object
 6   latitude                301 non-null    float64
 7   longitude               301 non-null    float64
 8   date_created            0 non-null      float64
 9   date_updated            0 non-null      float64
 10  contract_type           316 non-null    object
 11  contract_duration       307 non-null    object
 12  working_hours           21 non-null     object
 13  salary_min              82 non-null     float64
 14  salary_max              82 non-null     float64
 15  salary_currency         316 non-null    object
 16  salary_period           82 non-null     object
 17  experience_required     316 non-null    object
 18  category                316 non-null    object
 19  sector                  41 non-null     object
 20  application_url         7 non-null      object
 21  source_url              316 non-null    object
 22  skills                  10 non-null     object
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  316 non-null    bool
 25  code_rome               316 non-null    object
 26  langues                 4 non-null      object
 27  date_extraction         316 non-null    object
dtypes: bool(1), float64(7), object(20)
memory usage: 67.1+ KB

In [ ]:
france_travail.describe()

In [ ]:
france_travail.head()

In [ ]:
france_travail['langues'].unique()

In [3]:
all_jobs = pd.read_csv("./../data/all_jobs_20250430.csv")
all_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1342 entries, 0 to 1341
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1342 non-null   object
 1   source                  1342 non-null   object
 2   title                   1342 non-null   object
 3   description             1342 non-null   object
 4   company_name            1222 non-null   object
 5   location_name           1342 non-null   object
 6   latitude                1179 non-null   float64
 7   longitude               1179 non-null   float64
 8   date_created            1026 non-null   object
 9   date_updated            1026 non-null   object
 10  contract_type           803 non-null    object
 11  contract_duration       307 non-null    object
 12  working_hours           324 non-null    object
 13  salary_min              362 non-null    float64
 14  salary_max              357 non-null    float64
 15  salary_currency         1342 non-null   object
 16  salary_period           1108 non-null   object
 17  experience_required     1342 non-null   object
 18  category                1342 non-null   object
 19  sector                  41 non-null     object
 20  application_url         1033 non-null   object
 21  source_url              1342 non-null   object
 22  skills                  10 non-null     object
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  316 non-null    object
 25  code_rome               1342 non-null   object
 26  langues                 4 non-null      object
 27  date_extraction         1342 non-null   object
dtypes: float64(5), object(23)
memory usage: 293.7+ KB

In [5]:
all_jobs.describe()

          latitude    longitude     salary_min     salary_max  remote_work
count  1179.000000  1179.000000     362.000000     357.000000          0.0
mean     47.072898     2.683892   37643.777624   46220.043417          NaN
std       5.295287     5.016058   34358.144009   41335.584410          NaN
min     -21.250000   -61.024174      13.000000      13.500000          NaN
25%      45.774550     1.954423   35000.000000   40000.000000          NaN
50%      48.582930     2.344631   40000.000000   50000.000000          NaN
75%      48.863839     4.152393   40000.000000   51000.000000          NaN
max      50.720797    55.540099  600000.000000  720000.000000          NaN

In [ ]:
nunique = all_jobs['company_name'].nunique(dropna=True)
print(nunique)

475