In [3]:
import pandas as pd

azuna_df = pd.read_csv("./../data/adzuna_jobs_20250430.csv")
azuna_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1185 entries, 0 to 1184
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1185 non-null   int64
 1   source                  1185 non-null   object
 2   title                   1185 non-null   object
 3   description             1185 non-null   object
 4   company_name            1179 non-null   object
 5   location_name           1185 non-null   object
 6   latitude                1079 non-null   float64
 7   longitude               1079 non-null   float64
 8   date_created            1185 non-null   object
 9   date_updated            1185 non-null   object
 10  contract_type           532 non-null    object
 11  contract_duration       0 non-null      float64
 12  working_hours           328 non-null    object
 13  salary_min              321 non-null    float64
 14  salary_max              315 non-null    float64
 15  salary_currency         1185 non-null   object
 16  salary_period           1185 non-null   object
 17  experience_required     1185 non-null   object
 18  category                1185 non-null   object
 19  sector                  0 non-null      float64
 20  application_url         1185 non-null   object
 21  source_url              1185 non-null   object
 22  skills                  0 non-null      float64
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  0 non-null      float64
 25  code_rome               1185 non-null   object
 26  langues                 0 non-null      float64
 27  date_extraction         1185 non-null   object
dtypes: float64(10), int64(1), object(17)
memory usage: 259.3+ KB

In [4]:
azuna_df.describe()

,id,latitude,longitude,contract_duration,salary_min,salary_max,sector,skills,remote_work,is_handicap_accessible,langues
count,1.185000e+03,1079.000000,1079.000000,0.0,321.000000,315.000000,0.0,0.0,0.0,0.0,0.0
mean,5.169549e+09,47.571866,2.693659,NaN,38043.482866,46878.933333,NaN,NaN,NaN,NaN,NaN
std,9.152865e+05,4.594688,3.857566,NaN,36284.499065,43846.153374,NaN,NaN,NaN,NaN,NaN
min,5.167433e+09,-21.250000,-4.620370,NaN,48.000000,400.000000,NaN,NaN,NaN,NaN,NaN
25%,5.168666e+09,46.466618,2.237620,NaN,35000.000000,40000.000000,NaN,NaN,NaN,NaN,NaN
50%,5.169975e+09,48.825830,2.344631,NaN,40000.000000,50000.000000,NaN,NaN,NaN,NaN,NaN
75%,5.170321e+09,48.863839,3.063020,NaN,45000.000000,55000.000000,NaN,NaN,NaN,NaN,NaN
max,5.170801e+09,50.696370,55.533300,NaN,600000.000000,720000.000000,NaN,NaN,NaN,NaN,NaN

In [5]:
france_travail = pd.read_csv("./../data/france_travail_jobs_20250430.csv")
france_travail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      101 non-null    object
 1   source                  101 non-null    object
 2   title                   101 non-null    object
 3   description             101 non-null    object
 4   company_name            71 non-null     object
 5   location_name           101 non-null    object
 6   latitude                89 non-null     float64
 7   longitude               89 non-null     float64
 8   date_created            2 non-null      object
 9   date_updated            2 non-null      object
 10  contract_type           101 non-null    object
 11  contract_duration       84 non-null     object
 12  working_hours           32 non-null     object
 13  salary_min              30 non-null     float64
 14  salary_max              30 non-null     float64
 15  salary_currency         101 non-null    object
 16  salary_period           30 non-null     object
 17  experience_required     101 non-null    object
 18  category                101 non-null    object
 19  sector                  53 non-null     object
 20  application_url         12 non-null     object
 21  source_url              101 non-null    object
 22  skills                  11 non-null     object
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  101 non-null    bool
 25  code_rome               101 non-null    object
 26  langues                 4 non-null      object
 27  date_extraction         101 non-null    object
dtypes: bool(1), float64(5), object(22)
memory usage: 21.5+ KB

In [6]:
france_travail.describe()

        latitude  longitude    salary_min    salary_max  remote_work
count  89.000000  89.000000     30.000000     30.000000          0.0
mean   45.830759   1.468924  31808.309667  38972.672000          NaN
std     7.623045  10.442405  18410.688408  21970.534954          NaN
min     2.320377 -61.024174     11.880000     11.880000          NaN
25%    44.851895   1.433805  25897.882500  31250.000000          NaN
50%    48.428236   2.286846  35000.000000  45000.000000          NaN
75%    48.867600   3.723939  43750.000000  52507.460000          NaN
max    50.611529  48.871597  70000.000000  75000.000000          NaN

In [7]:
france_travail.head()

,id,source,title,description,company_name,location_name,latitude,longitude,date_created,date_updated,...,category,sector,application_url,source_url,skills,remote_work,is_handicap_accessible,code_rome,langues,date_extraction
0,191WLQB,france_travail,Charge d'etude (H/F),Le poste : Rejoignez une équipe dynamique et p...,PROMAN,54 - Maxéville,48.707941,6.147492,NaN,NaN,...,Chargé / Chargée d'études socio-économiques,Activités des agences de travail temporaire,https://www.proman-emploi.fr/?job=MP1009906&ca...,https://candidat.francetravail.fr/offres/reche...,NaN,NaN,False,M1403,NaN,2025-04-30 19:00:40.718677
1,191WKNP,france_travail,Data Analyst (H/F),Ikos recherche un Data Analyst (F/H) pour renf...,IKOS CONSULTING,92 - Levallois-Perret,48.894215,2.286846,NaN,NaN,...,Chargé / Chargée d'études socio-économiques,"Ingénierie, études techniques",NaN,https://candidat.francetravail.fr/offres/reche...,Adapter les outils de traitement statistique d...,NaN,False,M1403,NaN,2025-04-30 19:00:40.718711
2,191WJXF,france_travail,Ingénieur / Ingénieure DevOps,Un employeur porteur de valeurs fortes : Impla...,OMNICIEL PROFILS ET SOLUTIONS,13 - Aix-en-Provence,43.541369,5.406124,NaN,NaN,...,Ingénieur / Ingénieure DevOps,Conseil en systèmes et logiciels informatiques,NaN,https://candidat.francetravail.fr/offres/reche...,NaN,NaN,False,M1827,NaN,2025-04-30 19:00:40.718727
3,191WJVZ,france_travail,Ingénieur / Ingénieure DevOps,Un employeur porteur de valeurs fortes : Impla...,OMNICIEL PROFILS ET SOLUTIONS,83 - Toulon,43.136379,5.933443,NaN,NaN,...,Ingénieur / Ingénieure DevOps,Conseil en systèmes et logiciels informatiques,NaN,https://candidat.francetravail.fr/offres/reche...,NaN,NaN,False,M1827,NaN,2025-04-30 19:00:40.718738
4,191WFBJ,france_travail,Chargé d'études sur la thématique Addictions (...,Missions : Au sein de l'unité Addictions de la...,SANTE PUBLIQUE FRANCE,94 - ST MAURICE,48.817936,2.441660,NaN,NaN,...,Chargé / Chargée d'études socio-économiques,"Administration publique (tutelle) de la santé,...",NaN,https://candidat.francetravail.fr/offres/reche...,Réaliser une étude; Rédiger de l'information; ...,NaN,False,M1403,NaN,2025-04-30 19:00:40.718749

In [8]:
france_travail['langues'].unique()

array([nan, "['Anglais']", "['Anglais', 'Français']", "['Français']"],
      dtype=object)

In [9]:
all_jobs = pd.read_csv("./../data/all_jobs_20250430.csv")
all_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1286 entries, 0 to 1285
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1286 non-null   object
 1   source                  1286 non-null   object
 2   title                   1286 non-null   object
 3   description             1286 non-null   object
 4   company_name            1250 non-null   object
 5   location_name           1286 non-null   object
 6   latitude                1168 non-null   float64
 7   longitude               1168 non-null   float64
 8   date_created            1187 non-null   object
 9   date_updated            1187 non-null   object
 10  contract_type           633 non-null    object
 11  contract_duration       84 non-null     object
 12  working_hours           360 non-null    object
 13  salary_min              351 non-null    float64
 14  salary_max              345 non-null    float64
 15  salary_currency         1286 non-null   object
 16  salary_period           1215 non-null   object
 17  experience_required     1286 non-null   object
 18  category                1286 non-null   object
 19  sector                  53 non-null     object
 20  application_url         1197 non-null   object
 21  source_url              1286 non-null   object
 22  skills                  11 non-null     object
 23  remote_work             0 non-null      float64
 24  is_handicap_accessible  101 non-null    object
 25  code_rome               1286 non-null   object
 26  langues                 4 non-null      object
 27  date_extraction         1286 non-null   object
dtypes: float64(5), object(23)
memory usage: 281.4+ KB

In [10]:
all_jobs.describe()

          latitude    longitude    salary_min     salary_max  remote_work
count  1168.000000  1168.000000     351.00000     345.000000          0.0
mean     47.439196     2.600336   37510.56208   46191.432348          NaN
std       4.908836     4.698329   35140.41406   42432.263805          NaN
min     -21.250000   -61.024174      11.88000      11.880000          NaN
25%      46.268581     2.222100   35000.00000   40000.000000          NaN
50%      48.823100     2.344631   40000.00000   50000.000000          NaN
75%      48.863839     3.063020   45000.00000   55000.000000          NaN
max      50.696370    55.533300  600000.00000  720000.000000          NaN

In [32]:
nunique = all_jobs['date_extraction'].unique()
print(nunique)

['2025-04-30 19:00:40.274606' '2025-04-30 19:00:40.274779'
 '2025-04-30 19:00:40.274830' ... '2025-04-30 19:00:40.719462'
 '2025-04-30 19:00:40.719468' '2025-04-30 19:00:40.719476']

In [23]:
print(len("Administration publique (tutelle) de la santé, de la formation, de la culture et des services sociaux, autre que sécurité sociale"))

129