In [1]:
import pandas as pd
from pprint import pprint

rome40 = pd.read_csv(filepath_or_buffer = '../data.gouv/rome40.csv',
                           sep = ';',
                           header=None, names=['A', 'B', 'C', 'D', 'E'])  # numéro de la colonne qui indexe les entrées

rome40.info()
rome40.describe()
rome40.isna().any(axis = 1)
rome40.isnull().sum()
rome40 = rome40.loc[rome40['A'] != ' ']
rome40 = rome40.loc[rome40['B'] != ' ']
rome40 = rome40.loc[rome40['C'] != ' ']
rome40 = rome40.loc[rome40['D'] != ' ']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13287 entries, 0 to 13286
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       13287 non-null  object
 1   B       13287 non-null  object
 2   C       13287 non-null  object
 3   D       13287 non-null  object
 4   E       13287 non-null  object
dtypes: object(5)
memory usage: 519.2+ KB

In [2]:
print(rome40.head(5))

   A   B   C                                                  D       E
2  A  11  01        Conducteur / Conductrice d'engins agricoles       6
3  A  11  01       Chauffeur / Chauffeuse de machines agricoles   11987
4  A  11  01   Conducteur / Conductrice d'automoteur de récolte   38874
5  A  11  01        Conducteur / Conductrice d'engins agricoles  404030
6  A  11  01  Conducteur / Conductrice d'engins d'exploitati...   13254

In [3]:
rome40['code'] = rome40['A'].astype(str) + rome40['B'].astype(str) + rome40['C'].astype(str)

code = rome40['code']
code = code.drop_duplicates(keep='first')
code.value_counts
pprint(code.head(10))
code.to_csv('../data.gouv/rome40-list.csv', encoding='utf-8', header=False, index=False)

2     A1101
17    A1102
31    A1201
38    A1202
50    A1203
60    A1204
78    A1205
85    A1206
89    A1207
92    A1208
Name: code, dtype: object

In [10]:
label = rome40[['code','D']]
label["D"] = label["D"].str.replace(r"^.*/ ", "", regex=True)

label = label.drop_duplicates(keep='first')

label.to_csv('../data/rome40-label.csv', encoding='utf-8', header=False, index=False)
label.head(10)

/var/folders/c2/wwmb5wgx0nq_syd01vp_bt500000gn/T/ipykernel_83214/826809482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label["D"] = label["D"].str.replace(r"^.*/ ", "", regex=True)

     code                                             D
2   A1101                Conductrice d'engins agricoles
3   A1101              Chauffeuse de machines agricoles
4   A1101           Conductrice d'automoteur de récolte
6   A1101  Conductrice d'engins d'exploitation agricole
7   A1101                        Conductrice d'épareuse
8   A1101           Conductrice de machines à vendanger
9   A1101             Conductrice de matériels de semis
10  A1101                  Conductrice de pulvérisateur
11  A1101                       Conductrice de tracteur
12  A1101             Conductrice de tracteur enjambeur